html, body {
  margin:auto;
  padding-top: 0%;
  margin-top: 0%;
}

.top_nav {
  background-image: linear-gradient(#ae00ff, #02085f); 
  color: white;
  margin-top: -5vh;
  text-align: center;
  padding: 1rem 10rem;
  
}


.section {
  Margin: auto;
  align-content: center;
  justify-content: space-evenly;
  width: 80%;
}

.student_img {
  color: #2b2b2b;
  text-align: center;
  font: bold 2rem Franklin Gothic;
  
}

.assigmnents {
  color:#363636;
  background-color: #c8c865;
  padding: 2rem 10rem;
}

button {
  padding: 0.5rem 1rem;
  margin: 1rem 0rem;
  border: 1px solid black;
  border-radius: 10px;
  color: white;
  background-image: linear-gradient(#ae00ff, #02085f); 
}

button:hover {
  background-image: linear-gradient(darkred, #02085f);
}

/* Headings */
.header {
  font-family: verdana;
  font-size: 2.5rem;
  color: white;
  text-align: center;
  margin: 1em 0;
  
}



.main_task {
  font-family: verdana;
  font-weight: bolder;
}

.new_task {
  font-family: verdana;
  font-weight: bolder;
  font-size: 3.5rem;
}

span {
  color: darkred;
}