html, body {
  margin:auto;
  padding-top: 0%;
  margin-top: 0%;
}

.top_nav {
  background-image: linear-gradient(#ae00ff, #02085f); 
  color: white;
  margin-top: -5vh;
  text-align: center;
  padding: 1rem 10rem;
  
}

.header {
  font-family: verdana;
  text-align: center;
}

.section {
  padding: 2rem 10rem;
  align-content: center;
  justify-content: space-evenly;
}

.student_img {
  color: #2b2b2b;
  text-align: center;
  font: bold 2rem Franklin Gothic;
  
}

.assigmnents {
  color:#363636;
  background-color: #b6b63e;
  padding: 2rem 10rem;
}

button {
  padding: 0.5rem 1rem;
  margin: 1rem 0rem;
  border: 1px solid black;
  border-radius: 10px;
  color: white;
  background-image: linear-gradient(#ae00ff, #02085f); 
}

button:hover {
  background-image: linear-gradient(green, #02085f);
}

.main_task {
  font-family: verdana;
  font-weight: bolder;
}